$text: #212529;

$yellow: #FFCC00;
$orange: #FF8C00;
$tomato: #D26544;
$red: #D24444;
$crimson: #DC143C;
$orchid: #BA55D3;
$purple: #800080;
$rebecca: #7749AC;
$blue_dark: #144473;
$blue: #44B1D2;
$turquoise: #00CED1;
$blue_ocean: #49ACA9;
$green_see: #2E8B57;
$green: #7EAC49;
$green_yellow: #9ACD32;
$white: #FFFFFF;
$gray: #D6D8D9;
$black: #000000;
